<br /><br />
<div style="
      font-family: Helvetica, Arial, sans-serif;
      color: #fff;
      padding: 20px;
      background: #ee4d64;
      justify-content: center;
      align-items: center"
      >
      Família Gympoint, sempre visando o seu bem estar.
</div>

