<div style="
      font-family: Helvetica, Arial, sans-serif;
      color: #fff;
      padding: 20px;
      font-size: 35px;
      text-align: center;
      font-weight: bold;
      background: #ee4d64;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;";
      >
      Academia Gympoint
</div>
