<strong>A Academia GYmpoint</strong>

<p>
  Ola amigo(a) <strong>{{ student }}</strong>, agradecemos seu contato conosco, respondemos o mais breve possível.
</p>

<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br /><br />

  <strong>Data/Hora: </strong> {{ answer_at }} <br />
</p>
<br /><br />

<small>
Qual dúvida, reclamação, melhoria, sufetões etc fique à vontade de usar
este canal de comunicação entre nós, ou simplesmente comunique com um
de nossos colaboradores em nossa Academia.
</small>
<br /><br />
<strong>Nosso muito OBRIGADO</strong>
<br /><br />
<small>Equipe</small> <strong>GYMPOINT</strong>


